In [14]:
import os
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from keras.layers import SimpleRNN
from keras.models import Sequential
from keras.layers import Embedding, SimpleRNN

In [7]:
path_, filename_, category_, article_or_summary_,content_ = [],[],[],[],[]
for dirname, _, filenames in os.walk('data/'):
    for filename in filenames:
        path = os.path.join(dirname, filename).replace("\\","/")
        f = open(os.path.join(dirname, filename),"r")
        try:
            content_.append(str(f.read()))
            path_.append(path)
            filename_.append(filename)
            category_.append(path.split("/")[-2])
            article_or_summary_.append(path.split("/")[-3])
        except:
            print("ERROR ABRIENDO EL FICHERO")

df = pd.DataFrame({"path":path_, "filename":filename_, "category":category_, "article_or_summary":article_or_summary_,"content":content_}, columns=["path", "filename", "category", "article_or_summary","content"])
df

df = df.loc[df['article_or_summary']=='Summaries']

ERROR ABRIENDO EL FICHERO
ERROR ABRIENDO EL FICHERO

In [8]:
df.head()

,path,filename,category,article_or_summary,content
2224,data/BBC News Summary/Summaries/business/001.txt,001.txt,business,Summaries,TimeWarner said fourth quarter sales rose 2% t...
2225,data/BBC News Summary/Summaries/business/002.txt,002.txt,business,Summaries,The dollar has hit its highest level against t...
2226,data/BBC News Summary/Summaries/business/003.txt,003.txt,business,Summaries,Yukos' owner Menatep Group says it will ask Ro...
2227,data/BBC News Summary/Summaries/business/004.txt,004.txt,business,Summaries,"Rod Eddington, BA's chief executive, said the ..."
2228,data/BBC News Summary/Summaries/business/005.txt,005.txt,business,Summaries,Pernod has reduced the debt it took on to fund...

In [11]:
df = df[['category','content']]

In [12]:
df.head()

      category                                            content
2224  business  TimeWarner said fourth quarter sales rose 2% t...
2225  business  The dollar has hit its highest level against t...
2226  business  Yukos' owner Menatep Group says it will ask Ro...
2227  business  Rod Eddington, BA's chief executive, said the ...
2228  business  Pernod has reduced the debt it took on to fund...

In [15]:
# Dividir el DataFrame en caracter√≠sticas (X) y etiquetas (y)
X = df['content']
y = df['category']

# Crear un vectorizador TF-IDF
vectorizer = TfidfVectorizer()

# Transformar los textos en vectores TF-IDF
X_vectorized = vectorizer.fit_transform(X)

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X_vectorized, y, test_size=0.2, random_state=42)

# Clasificador Naive Bayes
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

# Predecir las etiquetas de los datos de prueba
y_pred = classifier.predict(X_test)

# Evaluar el rendimiento del modelo
print(classification_report(y_test, y_pred))

               precision    recall  f1-score   support

     business       0.99      0.98      0.98       222
entertainment       0.99      0.89      0.94       152
     politics       0.93      0.99      0.96       162
        sport       0.98      0.99      0.98       197
         tech       0.96      0.97      0.97       157

     accuracy                           0.97       890
    macro avg       0.97      0.97      0.97       890
 weighted avg       0.97      0.97      0.97       890